/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen and (min-width: 760px) {
}

/*************************************************
UNIVERSAL STYLES
************************************************/

html{
    background-color: white;
    font-family: "Open Sans", "Calibri", sans-serif;
    font-weight: 400;
    /* for the nav bar animation */
    scroll-behavior: smooth;
}

body{
    line-height: 1.5;
}

body p{
    margin-block: 1.5rem;
}

.limit {
    max-width: 1200px;
}

/*************************************************
NAV STYLES
************************************************/

nav{
    padding: 12px;
    background-color: #222222;
    width: auto;
}

nav .limit{
    /* The first of 5 billion display tags */
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

/* Random sorcery to make it stretch across the top */
.logo {
    background-color: #c78c06;
    align-self: flex-start;
    width: 100%;
}

/* I wanted to make a fancy input radio thing but i got lazy */
.navbar a{
    display: block;
    text-align: center;
    padding: 12px 0 12px 0;
    color: #c78c06;
    text-decoration: none;
    width: 100%;
}

.searchbar {
  width: 100%;
  /* W border box */
  box-sizing: border-box;
  margin-top: 10px;
}

/* I dreaded styling the search bar until I searched Google */
.searchbar form{
    display: flex;
    width: 100%;
    background-color: white; 
}

.searchbar input[type="search"] {
  flex-grow: 1;
  border: none;            
  background: transparent;
  padding: 12px 12px;
  font-size: 16px;
  outline: none;           
}

.searchbar button {
  background-color: #222222;
  color: #c78c06;
  border-color: #c78c06;
  padding: 0 12px;
}


/*************************************************
HEADER STYLES
************************************************/

header{
    background-image: url("../images/main-banner.jpg");
    background-size: cover;
    color: white;
    padding: 48px 0 48px 0;
    display: flex;
    justify-content: center;
    width: auto;
}

/* Jumping between the main tags and their limit counterparts was the biggest headache of this project */
header .limit{
    background-color: #222222AA;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

/* Had to half the font size for the mobile version */
header h1{
    font-size: 3rem;
    font-weight: 700; 
}

/* why 10% difference? idk */
header p {
    font-size: 0.9rem;
}

header .button{
    background-color: #c78c06;
    color: black;
    padding: 0 24px 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .button p{
    padding: 0 12px 0 0;
    font-size: 1rem;
}

/*************************************************
MAIN STYLES
************************************************/

/* Spiderman stopping the subway train on his own */
main {
    width: auto;
}

main p {
    font-size: 0.9rem;
}

.about {
    width: 100%;
    background-color: #ffe6ac;
    display: flex;  
    justify-content: center;
}

/* Column this column that */
.about .limit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

.about .limit h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.about .limit img {
    width: 100%;
    object-fit: cover;
    padding: 0 24px 0 0;
}

.services {
    width: 100%;
    display: flex;  
    justify-content: center;
}

.services .limit {
    padding: 12px;
    display: column;
}

.services article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0 12px 0;
    background-color: #ffe6ac;
}

.services article img {
    width: 100%;
    display: block;
}

.services h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.services article h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 24px 12px 24px 12px;
}

.services article p {
    margin: 12px;
}

/* All this justify and align also hurt my head */
.services article .cardbutton {
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 12px;
    padding: 0 20px 0 12px;
}

/* Skittle sized H3; i dont like doing mobile websites */
.services article .cardbutton h3 {
    font-weight: 400;
    font-size: 1rem;
}

/* I used flex everywhere otherwise something would break */
.vision {
    background-image: url("../images/vision.jpg");
    background-size: cover;
    background-position: 0 50%;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px;
}

.vision .limit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    width: 100%;
}

.vision .limit h2 {
    font-size: 2rem;
    font-weight: 700;
}

/* All that for text and an arrow */
.vision .limit .cardbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    padding: 0 24px 0 24px;
}

.vision .limit .cardbutton p {
    padding: 0 12px 0 0;
}

.team {
    display: flex;
    justify-content: center;
    width: 100%;
}

.team .limit {
    padding: 12px;
}

.team h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.team article {
    display: flex;
    flex-direction: column;
    background-color: #ffe6ac;
}

.team .limit > :nth-child(3) {
    flex-direction: column;
}

.team .limit article img {
    width: 100%;
}

.team .limit article h3 {
    font-size: 2rem;
    font-weight: 700;
}

.team .limit article h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

/* separating john and bob for an unnecessary grid looking thing :) */
.team .limit article .john, .bob {
    margin: 12px;
}

.team .limit article p {
    margin: 12px 0 12px 0;
}

/* I would go on to regret putting everything else under "contact" when making the desktop version */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact .limit {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    /* The code was in chaos, but everything changed when border-box was discovered */
    box-sizing: border-box;
}

.contact .limit h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.contact .limit h3 {
    font-size: 2rem;
    font-weight: 700;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact form input {
    margin: 0 0 12px 0;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

/* Thank you square bracket; im too lazy to fix the centered search */
.contact form input[id="message"] {
    height: 120px;
}

.contact form button {
    background-color: #222222;
    color: #c78c06;
    align-self: flex-start;
    padding: 6px;
    border: none;
}

/* Never too many width tags, eh? */
.contact iframe {
    width: 100%;
}

/* I'm so cool: i used a grid tag */
.contact .schedule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    border: 1px solid black;
    background-color: black;
}

.contact .schedule div {
    background-color: white;
    padding: 0 0 0 12px;
}

.contact .schedule > :nth-child(1) {
    background-color: #ffe6ac;
    text-align: center;
}

.contact .schedule > :nth-child(2) {
    background-color: #ffe6ac;
    text-align: center;
}

/*************************************************
FOOTER STYLES
************************************************/

/* This is too much for some text but it's html so it don matter */
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #222222;
    color: #c78c06;
    padding: 12px;
}

footer .limit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .limit a {
    color: #c78c06;
}

/*************************************************
MEDIA QUERY
************************************************/

/* I guessed the format right first try COOL */
@media screen and (min-width: 768px) {

nav{
    display: flex;
    padding: 12px;
    background-color: #222222;
    width: auto;
    justify-content: center;
}

/* Never enough 'centers' */
nav .limit{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

/* width: auto is a bandage over a hole on the sewage pipe but it still works */
.logo {
    background-color: #222222;
    width: auto;
}

.navbar a{
    display: block;
    color: #c78c06;
    width: 100%;
    /* PADDING CHANGE LAST SECOND */
    padding: 24px;
}

.searchbar {
  width: auto;
}

header .limit{
    background-color: #222222AA;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header h1{
    font-size: 6rem;
    font-weight: 700; 
}

header p {
    font-size: 1rem;
}

header .button p{
    font-size: 1.5rem;
}

main p {
    font-size: 0.9rem;
}

.about .limit {
    flex-direction: row;
}

.about .limit h2 {
    font-size: 3rem;
}

.about .limit img {
    width: 50%;
}

/* Cool kids use grid */
.services .limit {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 10fr 10fr;
}

.services .limit h2 {
    font-size: 3rem;
}

/* nth child abuser */
.services .limit > :nth-child(1) {
    grid-column: 1 / span 6;
}

.services .limit > :nth-child(2) {
    grid-column: 1 / span 3;
}

.services .limit > :nth-child(3) {
    grid-column: 4 / span 3;
}

.services .limit > :nth-child(4) {
    grid-column: 1 / span 2;
}

.services .limit > :nth-child(5) {
    grid-column: 3 / span 2;
}

.services .limit > :nth-child(6) {
    grid-column: 5 / span 2;
}

/* The first of 5 billion display tags */
.services article {
    align-items: stretch;
    justify-content: space-between;
    margin: 12px;
    background-color: #ffe6ac;
}

.services article p {
    margin: 12px;
}

.services article .cardbutton {
    justify-content: center;
}

.services article .cardbutton h3 {
    font-size: 1.5rem;
}

.vision .limit{
    justify-content: flex-start;
}

.team .limit article {
    flex-direction: row;
}

/* the one time reverse will be used */
.team .limit > :nth-child(3) {
    flex-direction: row-reverse;
}

/* lazy fixusing grid again */
.contact .limit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact .limit > :nth-child(1) {
    grid-column: 1 / span 2;
}

.contact .limit > :nth-child(2) {
    padding: 0 12px 0 0;
}

.contact .limit > :nth-child(3) {
    grid-column: 1 / span 2;
    order: 1;
}
    
}